.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
}

.formField {
  background-color: rgb(145, 158, 157);
  width: 50%;
  border: dotted 5px #61dafb;
  margin: 50px auto;
}

label {
  padding: 25px;
}

#ad2 {
  padding: 19px;
}

.formInput1, .formInput2, .formInput3, .formInput4, .formInput5 {
  display: inline;
  padding: 5px;
}

.formField>h4 {
  color: rgb(51, 90, 104);
}
